/**{font-size:12px;margin: 0;padding: 0; color:#fff; font-family:Arial, "宋体"}*/
*{font-size:12px;margin: 0;padding: 0; color:#fff; font-family:Arial, "宋体"}
*a{border:0px;}
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus { outline:0; }
ul,li{list-style:none;}
body{height:100%}
/*general*/
/*配色*/
#lainput span,a{color:#FFF}
#lainput input,option{color:#000}
#lbt{color:#000}
/*a.cbt{color:#555}*/
a.cbt{color:#FFFFFF}
#kwick .kwick {font-weight:bold; color:FFF}
#cl li div{color:#555}
#cmu a{color:#000}
#smu1 li{color:#555}
#mnudj li{color:#555}
#yt1 div,#yt3 div{color:#555}
.divt{color:#555}
#taba a{color:#555}
.inputyt{color:#555;}
/*#mc {color:#ccc}*/
#lainput input,select{border:#C0C0C0 1px solid;background:#EFEFEF;}
div.mpad{width:140px;}
div.mpad2{width:140px;background:url(mb_bg2.jpg) repeat-x; }

/*登录按钮*/
#lbt{width:60px;height:23px;padding:4px 0 0 0;border:0;background:url(lbt.jpg)}
/*通用按钮*/
a.cbt{float:left;display:block; width:62px; height:16px;text-decoration: none;padding:3px 0 0 0; text-align:center;background:url(yy1.jpg) no-repeat;overflow:hidden}
a.cbt:hover{background:url(yy11.jpg) no-repeat}
a.cbtm{display:block;width:12px;height:19px;text-decoration:none; float:left;}
a.cbtm {background:url(cs.jpg) }
a.cbtm:hover {background:url(cs1.jpg);}
.cbtd{padding:5px 0 0 2px}
/*播放进度条*/
#sa {width:350px;height:13px;margin:7px 0 0 0;float:left;background:url(sa.jpg) repeat-x}
#sk {width:6px;height:13px;background:url(sk.jpg) no-repeat;cursor:pointer}
/*调色进度条*/
.sax{width:70px;height:15px;margin:4px 0 0 4px;float:left;background:url(sas.gif) repeat-x;}
.skx{width:11px;height:15px;background:url(sks.gif) no-repeat;cursor:pointer;}
a.sal,a.sar{display:block; width:13px; height:15px;text-decoration: none;text-align:center}
a.sal{background:url(sal.gif) no-repeat;}
a.sal:hover {background:url(sal1.gif) no-repeat;}
a.sar{background:url(sar.gif) no-repeat;}
a.sar:hover {background:url(sar1.gif) no-repeat;}
/*登录*/
/*#l {top:px;width:100%;height:100%;position:absolute;background:url(bgl.jpg) repeat-x #FFF}*/
#login {top:0px;position:absolute;}
	#lx{width:478px;height:186px;margin:auto; margin-top:196px}
	#lb{width:53px;height:186px;background:url(lbbg.jpg);float:left}
	#lc{width:45px;height:186px;background:url(lcbg.jpg);float:left}
	#la{width:380px;height:186px;background:url(labg.jpg);float:left}
		#lal{width:8px; height:186px;float:left;background:url(lal.jpg)}
		#lar{width:24px;height:186px;float:right; background:url(lar.jpg)}
		#lalogo{width:251px;height:37px;position:relative;top:20px;left:11px;background:url(lalogo.jpg)}
		#lainput{width:253px;height:70px;float:left;margin:35px 0 0 5px;}
			#lainput div{width:250px;float:left;margin:5px 0 0 0;text-align:right}
			#lainput span{margin:0 6px 0 0}
			#lainput input{width:130px; height:18px;padding:3px 0 0 0}
			#lainput select{width:133px; height:18px;}
		#labt {width:10px;height:10px;float:left;margin:72px 0 0 0}		
/*主界面*/
/*#m{top:-10000px;height:100%; width:100%;background:url(bg.jpg) repeat-x #FFF; position:absolute}*/
  #m{top:-10000px;height:100%; width:100%;  position:absolute;}
/*主菜单*/
#ma{width:100%;height:31px;background:url(m_inTop.jpg)}
#ma div{height:31px}
	#maa{background:url(m_inTop.jpg);width:6px;float:left}
	#mab{background:url(m_inTop.jpg);width:10px;float:left}
	#mac{background:url(logo.gif);width:126px;float:left}
	#mad{background:url(m_inTop.jpg);width:20px;float:left}
	#mae{background:url(m_inTop.jpg);width:6px;float: right}	
	#kwick{float:left}
	#kwick li{float: left}
	/*#kwick .kwicks {display:block;background:url(m_inTop.jpg); width:600px; }*/
	#kwick .kwicks {display:block;background:url(m_inTop.jpg) width:600px; }
/*	#kwick .kwick {display:block;width:95px;height:22px;   padding:9px 0 0 15px; border-left: #1d1d20 2px solid;cursor:pointer;} */
#kwick .kwick {display:block;width:120px;height:22px; /* overflow: hidden;*/  padding:9px 0 0 15px; cursor:pointer;color:#555} 
	#kwick .a {background: url(m_top.jpg)}
	#kwick .b {background: url(m_top.jpg)}
	#kwick .c {background: url(m_top.jpg)}
	#kwick .d {background: url(m_top.jpg)}
	#kwick .e {background: url(m_top.jpg)}
/*主区域*/
#mb{width:950px;margin:auto;padding:3px 0 0 0;}


#yt div{float:left;}

 #yt a{ display:block;  width:100%; height:100%; text-decoration: none;outline:none;}
#yt a.y1 {background:url(yt1.jpg) no-repeat }
#yt a.y1:hover {background:url(yt11.jpg) no-repeat;}

#yt a.y2 {background:url(yt2.jpg) no-repeat;}
#yt a.y2:hover {background:url(yt21.jpg) no-repeat;}

#yt a.y3 {background:url(yt3.jpg) no-repeat;}
#yt a.y3:hover {background:url(yt31.jpg) no-repeat;}

#yt a.y4 {background:url(yt4.jpg) no-repeat;}
#yt a.y4:hover {background:url(yt41.jpg) no-repeat;}

#yt a.y5 { background:url(yt5a.jpg) no-repeat;}
#yt a.y5:hover {background:url(yt51a.jpg) no-repeat;}

#yt a.y10 {background:url(yt5b.jpg) no-repeat;}
#yt a.y10:hover {background:url(yt51b.jpg) no-repeat;}

#yt a.y6 {background:url(yt6.jpg) no-repeat;}
#yt a.y6:hover {background:url(yt61.jpg) no-repeat;}

#yt a.y7 {background:url(yt7.jpg) no-repeat;}
#yt a.y7:hover {background:url(yt71.jpg) no-repeat;}

#yt a.y8 {background:url(yt8.jpg) no-repeat;}
#yt a.y8:hover {background:url(yt81.jpg) no-repeat;}


a.yta1{display:block;width:13px;height:18px;text-decoration: none;float:right;}
a.yta1 {background:url(yta1.jpg) }
a.yta1:hover {background:url(yta11.jpg);}

#yt a.y9 {background:url(yt9.jpg) no-repeat;}
#yt a.y9:hover {background:url(yt91.jpg) no-repeat;}

#yt1 div{float:left;}
#yt1 a{ display:block; width:26px; height:26px;  text-decoration: none;outline:none;}
#yt2 a{ outline:none;}
#yt1 a.y1 {background:url(yt+.gif) no-repeat;}
#yt1 a.y1:hover {background:url(yt+1.gif) no-repeat;}

#yt1 a.y2 {background:url(yt-.gif) no-repeat;}
#yt1 a.y2:hover {background:url(yt-1.gif) no-repeat;}

.divt{width:70px; height:16px; text-align:left;overflow:hidden;float:left;}
#yt21 div,#yt3 div{float:left;}
.inputyt{border:none;background:#F4F4F4;width:37px;height:18px;float:left;}


#yt22 a{ display:block; width:129px; height:9px;text-decoration: none;text-align:center;}
#yt22 a.y1 {background:url(yt22a.jpg) no-repeat;}
#yt22 a.y1:hover {background:url(yt22a1.jpg) no-repeat;}

#yt22 a.y2 {background:url(yt22b.jpg) no-repeat;}
#yt22 a.y2:hover {background:url(yt22b1.jpg) no-repeat;}
#yt3t1 a{outline:none;}
#yt3t2 a{outline:none;}
#Talk  a{outline:none;}


#taba a{ color:#FFFFFF;display:block; height:14px; text-decoration: none;padding:4px 0 0 5px; overflow:hidden;outline:none;}
#taba a.t1{width:63px; background:url(t2t.jpg) no-repeat;}
#taba a.t1:hover {background:url(t1t.jpg) no-repeat;}

#taba a.t2 {width:67px;background:url(t2t.jpg) no-repeat;}
#taba a.t2:hover {background:url(t1t.jpg) no-repeat;}

#taba a.t3 {width:63px;background:url(t1t.jpg) no-repeat;}
#taba a.t3:hover {background:url(t2t.jpg) no-repeat;}

#taba a.t4 {width:67px;background:url(t1t.jpg) no-repeat;}
#taba a.t4:hover {background:url(t2t.jpg) no-repeat;}


#dcl {overflow:auto;width:140px;float:none;}
/*#cl ul,li{ float:left;}*/
#cl li {cursor:pointer;display: block;width:auto;height:22px;padding:0 0 0 4px;}


#cl a{display:block;width:25px;height:22px;text-decoration: none;float:left;margin:0,20px,0,0;}
#cl a.noRecord{background:url(noRecord.gif) no-repeat;width:100%;}
#cl a.record {background:url(record.gif) no-repeat;width:100%;}
#cl a.noSubPlay{background:url(noSubPlay.gif) no-repeat;width:100%;}
#cl a.subPlay {background:url(subPlay.gif) no-repeat;width:100%;}
#cl a.forbitsubPlay {background:url(ForbitSubPlay.gif) no-repeat;width:100%;}
#cl a.forbitPlay {background:url(ForbitPlay.gif) no-repeat;}
#cl a.forbitRecord {background:url(ForbitRecord.gif) no-repeat;width:100%;}

#cl li div{color:#ffffff; width:10px;height:20px; padding:3px 0 0 8px;float:left;position:relative; }

.cl1{background:url(noPlay.gif) no-repeat;width:10px;height:10px;}
.cl2{background:url(play.gif) no-repeat;}
.cl3{background:url(c3.jpg) no-repeat;}
.cl4{background:url(c3.jpg) no-repeat;float:left;}
#Talk {float:none;margin:3px 0 0 0;}

#Talk a.t{width:15px;height:20px;padding:0 0 0 0;margin:30xp 0 0 0px; background:url(Talk.gif) no-repeat;}
#Talk a.noT{width:15px;height:20px;padding:0 0 0 0;margin:30xp 0 0 0px; background:url(noTalk.gif) no-repeat;}

*html .cl3{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="c3.jpg", sizingMethod="crop");}	


#cmu{width:90px; height:0;background:url(mubg.jpg); float:right; overflow:hidden;}
#cmu a{display:block;width:80px;height:13px; margin:3px 0 0 5px;text-decoration: none;float:left; overflow:hidden}

#smu1 {width:56px;height:150px;background:#000; margin:0 0 0 76px;position:absolute; z-index:30;}/*height frome 80 to 150?*/
#smu1 li {width:56px;height:18px;cursor:pointer;display: block;}
#smu1 a{width:51px;height:18px;display:block;padding:0 0 0 5px;text-decoration: none;float:left;}
#smu1 a{background:#3E3E3E;}
#smu1 a:hover {background:#5F5F5F;}
#smu2 {width:56px;height:80px;background:#000; margin:0 0 0 4px;position:absolute; z-index:100;}
#smu2 li {width:56px;height:18px;cursor:pointer;display: block;}
#smu2 a{width:51px;height:18px;display:block;padding:0 0 0 5px;text-decoration: none;float:left;}
#smu2 a{background:#3E3E3E;}
#smu2 a:hover {background:#5F5F5F;}
#smu3 {width:56px;height:80px;background:#000; margin:0 0 0 4px;position:absolute; z-index:100;}
#smu3 li {width:56px;height:18px;cursor:pointer;display: block;}
#smu3 a{width:51px;height:18px;display:block;padding:0 0 0 5px;text-decoration: none;float:left;}
#smu3 a{background:#3E3E3E;}
#smu3 a:hover {background:#5F5F5F;}
#mnudj {width:73px;height:10px;background:#000; margin:0 0 0 -65px;position:absolute; z-index:30;}
#mnudj li {width:100%;height:18px;cursor:pointer;display: block;}
#mnudj a{width:68px;height:18px;display:block;padding:0 0 0 5px;text-decoration: none;float:left;}
#mnudj a.cdj1{background:#3E3E3E;}
#mnudj a.cdj1:hover {background:#5F5F5F;}
#mnudj a.cdj2{background:#5F5F5F;}

#pc div{float:left;}

#pc a{ display:block; width:36px; height:25px;  text-decoration: none;outline:none;}

#pc a.p0 {background:url(full.jpg) no-repeat;}
#pc a.p0:hover {background:url(full1.jpg) no-repeat;}

#pc a.p1 {background:url(1.jpg); }
#pc a.p1:hover {background:url(11.jpg);}

#pc a.p2 {background:url(4.jpg);}
#pc a.p2:hover {background:url(41.jpg);}

#pc a.p3 {background:url(9.jpg);}
#pc a.p3:hover {background:url(91.jpg);}

#pc a.p4 {background:url(16.jpg);}
#pc a.p4:hover {background:url(161.jpg);}

#pc a.p5 {background:url(25.jpg);}
#pc a.p5:hover {background:url(251.jpg);}

#pc a.p6 {background:url(36.jpg);}
#pc a.p6:hover {background:url(361.jpg);}

#pc a.p7 {background:url(startAll.jpg);}
#pc a.p7:hover{background:url(startAll1.jpg);}
#pc a.p72 {background:url(stopAll.jpg);}
#pc a.p72:hover {background:url(stopAll1.jpg);}

#pc a.p8 {background:url(snap.jpg);}
#pc a.p8:hover {background:url(snap1.jpg);}

#pc a.p9 {background:url(recordAll.jpg);}
#pc a.p9:hover{background:url(recordAll1.jpg);}
#pc a.p92 {background:url(stopRecordAll.jpg);}
#pc a.p92:hover{background:url(stopRecordAll1.jpg);}

#pc a.p10 {background:url(audio.jpg) no-repeat;}

#pc a.p102{background:url(audio1.jpg) no-repeat;}

#pc a.p11 {background:url(64.jpg);}
#pc a.p11:hover {background:url(641.jpg);}


#ytPoint div{float:left;}
#goPreset a{background:url(goPreSet.jpg) no-repeat;float:left;}
#goPreset a:hover{background:url(goPreSet1.jpg) no-repeat;float:left;}
#addPreset a{background:url(addPreSet.jpg) no-repeat;float:left;}
#addPreset a:hover{background:url(addPreSet1.jpg) no-repeat;float:left;}
#delPreset a{background:url(delPreSet.jpg) no-repeat;float:left;}
#delPreset a:hover{background:url(delPreSet1.jpg) no-repeat;float:left;}

#ytCruise div{float:left;}
#goCruise a{background:url(goCruise.jpg) no-repeat;float:left;}
#goCruise a:hover{background:url(goCruise1.jpg) no-repeat;float:left;}
#stopCruise a{background:url(stopCruise.jpg) no-repeat;float:left;}
#stopCruise a:hover{background:url(stopCruise1.jpg) no-repeat;float:left;}
#editCruise a{background:url(editCruise.jpg) no-repeat;float:left;}
#editCruise a:hover{background:url(editCruise1.jpg) no-repeat;float:left;}
a.PositionStart {background:url(yt51b.jpg)}
a.PositionStop {background:url(yt5b.jpg)}
a.PositionStop:hover{background:url(yt51b.jpg)}


#mc {clear: both; height:13px; text-align:center;background:url(mc.jpg) repeat-x;}